<strong>Olá, {{ name }}</strong>
<p>Sua matrícula no GymPoint foi realizada com sucesso!, confira os detalhes abaixo:</p>
<p>
  <strong>Aluno: </strong>{{ name }} <br/>
  <strong>Data início: </strong>{{ start_date }} <br/>
  <strong>Data término: </strong>{{ end_date }} <br/>
  <strong>Preço final: </strong>{{ price }} <br/>
  <br/>
  <small>Muito obrigado pela sua matrícula!</small>
</p>
